{{#*inline "base_header"}}
    Login
{{/inline}}

{{#*inline "content"}}
    <form class="pure-form pure-form-aligned" method="post">
        <fieldset>
            <div class="pure-control-group">
                <label for="email">Email:</label>
                <input type="text" name="email" value="ew@example.com">
            </div>
            <div class="pure-controls">
                <button class="pure-button custom-button" type="submit">Submit!</button>
            </div>
        </fieldset>
    </form>
{{/inline}}
{{~> types/base }}
